.container {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 5px;
}

.title {
    margin-bottom: 20px;
    font-weight: 200;
    color: var(--textSoft);
}

.table {
    width: 100%;
}

.table td {
    padding: 10px;
}
.status {
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    color: white;
}
.pending {
    background-color: #f7cb7375;
}

.done {
    background-color: #afd6ee75;
}

.cancelled {
    background-color: #f7737375;
}