/*!*****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/myTransactions/myTransactions.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************/
.myTransactions_container__lrGzO {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.myTransactions_top__CIbLe {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myTransactions_table___wi24 {
    width: 100%;
    border-collapse: collapse;
}

.myTransactions_table___wi24 th,
.myTransactions_table___wi24 td {
    padding: 10px;
    /* border: 1px solid black; */
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/search/search.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.search_container__jAxK9 {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2e374a;
    padding: 10px;
    border-radius: 5px;
    width: -moz-max-content;
    width: max-content;
}

.search_input__vdsRR {
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;
}
