.container {
    position: fixed;
    top: 40px;
    height: 100%;
    width: 18%;
}

.user {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.userImage {
    border-radius: 50%;
    object-fit: cover;
}

.userDetail {
    display: flex;
    flex-direction: column;
}
.username {
    font-weight: 500;
}
.userTitle {
    font-size: 12px;
    color: var(--textSoft)
}
.list {
    list-style: none;
}

.category {
    color: var(--textSoft);
    font-weight: bold;
    font-size: 13px;
    margin: 10px 0 ;
}

.logout {
    padding: 20px;
    /*margin: 5px 0;*/
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 5px;
    background: none;
    border: none;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 13px;
    margin: 10px 0 ;
    transition: background-color 0.3s ease-in;
}

.logout:hover {
    background-color: red;

}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    margin: auto;
}
.logoContent {
    /*font-weight: 800;*/
    color: aliceblue;
}
.newTransaction {
    width: 100%;
    padding: 10px;
    background-color: springgreen;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    font-weight: 800;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.newTransaction:hover {
    background-color: green;
}