/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/services/services.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.services_container__NdWrh {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.services_top__dd0b1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.services_addButton__6DAdt {
    padding: 10px;
    background-color: springgreen;
    border-radius: 5px;
    border: none;

    font-weight: 800;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.services_addButton__6DAdt:hover {
    background-color: green;
}
.services_table__hBRg6 {
    width: 100%;
}
.services_table__hBRg6 td {
    padding: 10px;
}
.services_user__c5O8V {
    display: flex;
    gap: 10px;
    align-items: center;
}
.services_userImage__a8_jK {
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
}
.services_buttons__INJLG {
    display: flex;
    gap: 10px;
}
.services_button__BRTax {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;

    font-weight: 800;
    cursor: pointer;

}
.services_view__eaxui {
    background-color: whitesmoke;
    transition: background-color 0.3s ease-in-out;
}
.services_view__eaxui:hover {
    background-color: grey;
}

.services_delete__uaXXW {
    background-color: red;
    color: white;
    transition: background-color 0.3s ease-in-out;
}
.services_delete__uaXXW:hover {
    background-color: darkred;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/search/search.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.search_container__jAxK9 {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2e374a;
    padding: 10px;
    border-radius: 5px;
    width: -moz-max-content;
    width: max-content;
}

.search_input__vdsRR {
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/pagination/pagination.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.pagination_container__MlbTl {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.pagination_button__63zCc {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    background-color: whitesmoke;
    transition: background-color 0.3s ease-in-out;
}
.pagination_button__63zCc:hover {
    background-color: grey;
}

.pagination_button__63zCc:disabled {
    cursor: not-allowed;
    background-color: gray;
}
