.container {
    position: fixed;
}

.item {
    background: linear-gradient(to top, #182237, #253352);
    padding: 20px 24px;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
}

.bgContainer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
}

.bg {
    object-fit: contain;
    object-position: bottom;
    opacity: 0.2;

}

.text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.notification {
    font-weight: bold;
}

.subtitle {
    color: var(--textSoft);
    font-weight: 500;
    font-size: 12px;
}

.desc {
    color: var(--textSoft);
    font-size: 14px;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.button {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
    background-color: red;
    color: white;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 300ms ease-in;
}
.button:hover {
    background-color: darkred;

}

.button:disabled {
    background-color: gray;
    cursor: not-allowed;
}