.container {
    display: flex;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 5px;
    gap: 20px;
    cursor: pointer;
    width: 100%;
}

.container:hover {
    background-color: #2e374a;
    transition: background-color 0.3s ease-in;
}

.title {

}

.texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.number {
    font-size: 24px;
    font-weight: 500;
}

.positive {
    color: lime;
}

.detail {
    font-size: 14px;
    font-weight: 300;
}
.negative {
    color: red;
}