.container {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}
@media (max-width: 768px) {
    .form input,
    .form select,
    .form button {
        width: 100%;
    }
}

.container {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.form input,
.form select{
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    width: 100%;
    gap: 10px;
    background-color: var(--bgSoft);
    color: white;
    border: 1px solid grey;
}

.form button {
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    width: 100px;
}


/* Optional: Style for links and "Mark as Complete" button */
.linkContainer {
    margin-top: 20px;
}

.linkContainer a {
    display: block;
    margin-bottom: 10px;
    color: blue;
    text-decoration: underline;
}

.linkContainer button {
    padding: 10px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.linkContainer button:hover {
    background-color: blue;
}
.button {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
    background-color: red;
    color: white;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: red 0.3s ease-in-out;
}
.button:hover {
    background-color: darkred;

}
.submit {
    background-color: green;
    color: white;
}
.submit:hover {
    background-color: darkgreen;
}
.bottomContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.buttonSet{
    display: flex;
    gap: 10px;
    flex-direction: row;
}
