/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/staffs/addStaff/add.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.add_container__j7Zmb {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.add_form__VeySP {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.add_form__VeySP input, .add_form__VeySP select, .add_form__VeySP textarea {
    padding: 30px;
    background-color: transparent;
    border: 2px solid #2e374a;
    color: var(--text);
    border-radius: 5px;
    margin-bottom: 30px;
}

.add_form__VeySP input, .add_form__VeySP select{
    width: 45%;
}

.add_form__VeySP textarea {
    width: 100%;
}
.add_form__VeySP button {
    width: 100%;
    padding: 30px;
    background-color: springgreen;
    border-radius: 5px;
    border: none;
    font-weight: 800;
    cursor: pointer;
    color: black;
    transition: background-color 0.3s ease-in-out;
}

.add_form__VeySP button:hover {
    background-color: green;
}
.add_form__VeySP input .add_form__VeySP select .add_form__VeySP textarea:focus{
    background-color: #182237;
}
